@using Web
@using Web.Model
@using Web.Core
@model tbl_VanBan
@{
    ViewBag.Title = "Detail";
    Layout = null;
    var lstFile = (List<tbl_fieldfiles>)TempData["lstFile"];
}
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Trích yếu: </label>
    <div class="col-md-10">@Model.TrichYeu</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Số hiều: </label>
    <div class="col-md-10">@Model.SoHieu</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Cơ quan ban hành: </label>
    <div class="col-md-10">@Model.CoQuanBanHanh</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Loại văn bản: </label>
    <div class="col-md-10">@Model.LoaiVanBan</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Lĩnh vực: </label>
    <div class="col-md-10">@Model.LinhVucVanBan</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Ngày ban hành:</label>
    <div class="col-md-10">
        @Model.@(HelperDateTime.ConvertDateToString(Model.NgayBanHanh))
    </div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Ngày hiệu lực: </label>
    <div class="col-md-10">
        @(HelperDateTime.ConvertDateToString(Model.NgayHieuLuc))
    </div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 control-label">Người ký:</label>
    <div class="col-md-10">
        @Model.NguoiKy
    </div>
</div>
@if (lstFile.Count()>0)
{
    <div class="form-group col-md-12">
        <label class="col-md-2 control-label">File upload: </label>
        <div class="col-md-10">
            <ul style="padding-left:15px;">
                @foreach (var file in lstFile)
                {
                    <li>
                        <a href="@file.LinkFile">
                            <i class="fa fa-download"></i>
                            @file.ReplaceName |
                        </a>
                        <a href="/Home/ViewFile?linkdown=@file.LinkFile" target="_blank">
                            <i class="fa fa-search"></i> xem
                        </a>
                    </li>
                }
            </ul>

        </div>
    </div>
}

