@{
    var langCode = "vn";
    if(Session["langCodeDefaut"]!=null)
    {
        langCode = Session["langCodeDefaut"].ToString();
    }
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
    var lstUserAdmin = (List<tbl_UserAdmin>)TempData["lstUserAdmin"];
    var permQuyTrinhXuatBanID = (List<string>)TempData["permQuyTrinhXuatBanID"];
    var totalNews = (int)TempData["totalNews"];
    var lstCategory = (List<tbl_Category>)TempData["Category"];
    var objkhoitao = (qProcedure)TempData["objkhoitao"];
    var qProcedureFirst= (int)TempData["qProcedureFirst"];
    var lstQtxb = (List<qProcedure>)TempData["QuyTrinhXuatBan"];
    var QtxbID = (lstQtxb.FirstOrDefault(x => x.isPublish) != null ? lstQtxb.FirstOrDefault(x => x.isPublish).ID : 0);
    var objUser = (tbl_UserAdmin)TempData["objUser"];
    var code = "news";
    var lstProcess = (List<qProcess>)TempData["lstProcess"];

    var lstConfig = (List<tbl_Config>)TempData["lstConfig"];
    var Type = (string)TempData["Type"];
}

@using PagedList.Mvc
@using Web.Areas.Admin.Controllers
@using Web.Core
@using Web.Model
@using Web.Model.CustomModel
@model List<tbl_News_Custom>
<script src="~/AppJs/news.js"></script>
<script src="~/AppJs/process.js"></script>
<input type="hidden" value="" id="tongbanghi" />
<table class="table table-striped">
    <thead>
        <tr>
            
            @if (User.isAdmin == false)
            {
                if (objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()))
                {
                    <th class="">
                        <input type="hidden" id="hdfID" />
                        <div class="checkbox">
                            <input id="chkall" type="checkbox">
                            <label for="chkall"></label>
                        </div>
                    </th>
                }
                else
                {
                    <th></th>
                }
            }
            else
            {
                <th class="">
                    <input type="hidden" id="hdfID" />
                    <div class="checkbox">
                        <input id="chkall" type="checkbox">
                        <label for="chkall"></label>
                    </div>
                </th>
            }

            <th>Ảnh</th>
            <th class="tieudetin">Tiêu đề</th>
            <th>Danh mục</th>
            @if (User.isAdmin == false)
            {
                <th>Duyệt</th>
                @*if (!objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()))
                {
                    <th>Duyệt</th>
                }*@
            }
            <th class="wtrangthai">Trạng thái</th>
            <th style="vertical-align: middle;min-width: 75px" align="center">Xuất bản</th>
            <th style="min-width: 200px">Khác</th>
             @if (objUser.QuyTrinhXuatBanID != qProcedureFirst.ToString()&& User.isAdmin==false)
             {
                <th class="chonbai">Chọn</th>
             }
            <th class="func3but"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var objUserChoose = lstUserAdmin.FirstOrDefault(g => item.IdUserChoose != null && item.IdUserChoose == g.ID);

            <tr id="rownews_@item.ID">
                @if (User.isAdmin == false)
                {
                    if (objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()))
                    {
                        <td style="vertical-align: middle;" align="center">
                            <div class="checkbox">
                                <input type="checkbox" value="@item.ID" id="chk'@item.ID'">
                                <label for="chk'@item.ID'"></label>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                else
                {
                    <td style="vertical-align: middle;" align="center">
                        <div class="checkbox">
                            <input type="checkbox" value="@item.ID" id="chk'@item.ID'">
                            <label for="chk'@item.ID'"></label>
                        </div>
                    </td>
                }
                <td style="vertical-align: middle">
                    <img style="width:100px" src="@item.Photo" />
                </td>
                <td style="vertical-align: middle;"  class="tieudetin">
                    @item.Title
                    @{ 
                        var objProcedureCheck = lstQtxb.FirstOrDefault(g=>g.ID == item.Status); 
                        var lstProcedureCheck = lstQtxb.Where(g=> objProcedureCheck != null && permQuyTrinhXuatBanID != null && g.Ordering >= objProcedureCheck.Ordering && permQuyTrinhXuatBanID.Contains(g.ID.ToString())).ToList();
                        if (lstProcedureCheck != null && lstProcedureCheck.Count > 0 && User.ID != item.IdUserChoose && item.Status != qProcedureFirst && item.IdUserChoose != null)
                        {
                            <a href="javascript://" title="Lấy tin bài" class="getnews" data-id="@item.ID"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size: 15px"></i></a>   
                        }
                    }  
                    @(objUserChoose != null && objUser.ID != item.CreatedBy ? (objUserChoose.ID == objUser.ID ? Html.Raw("<p style='font-style:italic; color:blue'>( Bạn đang chọn. )</p>") : Html.Raw("<p style='font-style: italic; color: red;'>( " + objUserChoose.FullName + " đang chọn. )</p>")) : Html.Raw(""))
                </td>
                @{

                    if (item.CategoryIdStr != null)
                    {
                        var lstCategoryId = item.CategoryIdStr;
                        var arrCategoryId = lstCategoryId.Split(',');
                        var lst = new List<tbl_Category>();
                        for (int i = 0; i < arrCategoryId.Length; i++)
                        {
                            if (!string.IsNullOrEmpty(arrCategoryId[i]))
                            {
                                var objCat = lstCategory.FirstOrDefault(x => x.ID == Convert.ToInt32(arrCategoryId[i]));
                                if (objCat != null)
                                {
                                    lst.Add(objCat);
                                }
                            }
                        }
                        if (lst != null)
                        {
                            <td style="vertical-align: middle;">
                                <ul style="padding-left:0px">
                                    @foreach (var itemCate in lst)
                                    {
                                        <li>@itemCate.Name</li>
                                    }
                                </ul>
                            </td>
                        }
                        else
                        {
                            <td style="vertical-align: middle;"></td>
                        }

                    }
                    else
                    {
                        <td style="vertical-align: middle;"></td>
                    }
                    var nameQT = "";
                    if (item.Status != null)
                    {
                        var objStt = lstQtxb.FirstOrDefault(x => x.ID == item.Status);
                        if (objStt != null)
                        {
                            if (langCode == "vn")
                            {
                                if (!item.IsPublish && objStt.ID == QtxbID)
                                {
                                    nameQT = ConfigTextController.GetValueCFT("choxuatban", "Chờ xuất bản");
                                }
                                else
                                {
                                    nameQT = objStt.Name;
                                }
                            }
                            else
                            {
                                nameQT = objStt.NameEnglish;
                            } 
                        }
                    }
                }
                @if (User.isAdmin == false)
                {
                    <td id="duyet" value="1" style="vertical-align: middle;width: 78px;">
                    @if (!objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()) || User.ID == item.CreatedBy)
                    {
                        if (permQuyTrinhXuatBanID.Contains(item.Status.ToString()) && (item.IdUserChoose == objUser.ID || (objUser.QuyTrinhXuatBanID != null && objkhoitao != null && objUser.QuyTrinhXuatBanID.Split(',').Count() < 2 && objUser.QuyTrinhXuatBanID.Split(',').Contains(objkhoitao.ID.ToString()))))
                        {
                            var onclick = (objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()) ? "" : "news.onApproved("+ item.ID + ")");
                            <a style="cursor: pointer;" class="btn btn-purple btn-bordered @(objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()) ? "xbclick" : "")" data-id="@item.ID" onclick="@onclick"><i class="ion-checkmark-round"></i></a>
                        }
                    }
                    </td>
                }

                <td style="vertical-align: middle;">@nameQT</td>
                @if (User.isAdmin == false)
                {
                    if (objUser.QuyTrinhXuatBanID.Contains(QtxbID.ToString()) && item.Status == QtxbID)
                    {
                        var onclick = (objUser.isAdmin || permQuyTrinhXuatBanID.Contains(item.Status.ToString()) && item.IdUserChoose == objUser.ID ? "news.changePublic(" + item.ID + ")" : "alertmsg.error('Bạn chưa chọn bài viết!')");

                        if (item.CreatedBy == User.ID)
                        {
                            onclick = "alertmsg.error('Bạn đã đăng tin bài này, không được phép xuất bản!')";
                        }

                        <td style="vertical-align: middle; cursor: pointer; text-align: center;" class="publish text-center" onclick="@onclick">@Html.Raw(item.IsPublish ? "<i class='fa fa-check' style='color:green'></i>" : "<i class='fa fa-times' style='color:red;'></i>")</td>
                    }
                    else
                    {
                        <td style="vertical-align: middle" class="text-center"> @Html.Raw(item.IsPublish ? "<i class='fa fa-check' style='color:green'></i>" : "<i class='fa fa-times' style='color:red;'></i>")</td>
                    }
                }
                else if (item.Status == QtxbID && item.IdUserChoose != User.ID)
                {
                    <td style="vertical-align: middle;cursor:pointer; text-align: center;" class="publish  text-center" onclick="news.changePublic(@item.ID)"> @Html.Raw(item.IsPublish ? "<i class='fa fa-check' style='color:green'></i>" : "<i class='fa fa-times' style='color:red;'></i>")</td>
                }
                else
                {
                    <td style="vertical-align:middle" class="text-center">@Html.Raw(item.IsPublish ? "<i class='fa fa-check' style='color:green'></i>" : "<i class='fa fa-times' style='color:red;'></i>")</td>
                }
                <td style="vertical-align: middle;">
                    <ul style="padding-left: 15px;">
                        <li>Ngày: @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</li>
                        <li>Lượt xem:@item.ViewCount</li>
                        
                        @{
                            if (lstProcess != null && item.IsTraLai)
                            {
                                var objProcess = lstProcess.Where(g => g.FKId == item.ID).OrderByDescending(g => g.Id).FirstOrDefault();
                                if (objProcess != null)
                                {
                                    <li>Lý do: @Html.Raw(objProcess.Contents)</li>
                                }
                            }

                            var objType = lstConfig.FirstOrDefault(g => g.ID == item.NewMoney);
                            if (objType != null)
                            {
                                <li>Loại tin bài: @objType.Name</li>
                            }
                            if (!String.IsNullOrEmpty(item.Author))
                            {
                                <li>Tác giả: @item.Author</li>
                            } 
                        }  
                    </ul>
                </td>
                @if (objUser.QuyTrinhXuatBanID != qProcedureFirst.ToString() && User.isAdmin == false)
                {
                    <td style="vertical-align: middle" class="chonbai">
                        @if (permQuyTrinhXuatBanID != null && item.Status != null && permQuyTrinhXuatBanID.Contains(item.Status.ToString()))
                        {
                            if (item.IdUserChoose == null || item.IdUserChoose == 0)
                            {
                                <a href="javascript://" class="btn btn-warning btn-bordered btnchosse" data-id="@item.ID" data-string="chọn" data-choose="@(objkhoitao != null && objUser.QuyTrinhXuatBanID != null && objUser.QuyTrinhXuatBanID.Split(',').Contains(objkhoitao.ID.ToString()) ? "3" : "0")" title="Chọn">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            }
                            else
                            {
                                string onclick = "";
                                if (objUser != null && objUserChoose != null)
                                {
                                    onclick = (objUserChoose.ID == objUser.ID ? "" : "alertmsg.error('" + objUserChoose.FullName + " đang chọn')");
                                }
                                <a href="javascript://" class="btn btn-purple btn-bordered btnchosse" data-id="@item.ID" data-string="hủy chọn" data-choose="@(objUserChoose != null && objUserChoose.ID != objUser.ID ? "1" : "0")" onclick='@onclick' title="Hủy chọn">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                            }
                        }
                    </td>
                }
                <td>
                    <div class="btn-list pull-right mr4">
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Edit))
                        {
                            <a href="#" class="btn btn-success btn-bordered" title="Chi tiết bài viết" onclick="news.loadfrmDetail(@item.ID)">
                                <i class="glyphicon glyphicon-search"></i>
                            </a>
                        }
                        @if (item.IsPublish)
                        {
                            <a href="/Admin/News/Comment/?NewsID=@item.ID" class="btn btn-purple btn-bordered hide_thongke" title="Xem bình luận"><i class="fa fa-comment" aria-hidden="true"></i></a>
                        }
                        @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.View))
                        {
                            <a href="/Admin/HistoryNews?id=@item.ID" class="btn btn-success btn-bordered hide_thongke" title="Xem lịch sử bài viết">
                                <i class="ion-clock"></i>
                            </a>
                        }

                        <a href="#" class="btn btn-bordered btn-warning waves-effect waves-light" onclick="process.viewProcess('@Url.Action("ViewProcess","Process",new {FkId=item.ID,Code =code })')" title="Tiến trình xử lý">
                            <i class="fa fa-line-chart"></i>
                        </a>
                        @if (objUser.isAdmin || permQuyTrinhXuatBanID.Contains(item.Status.ToString()) && item.IdUserChoose == objUser.ID)
                        {
                            <a href="/Admin/News/Edit?id=@item.ID&isPublic=@(item.IsPublish ? 1 : 0)&Type=@Type" class="btn btn-primary btn-bordered hide_thongke" title="Sửa"><i class="glyphicon glyphicon-pencil"></i></a>

                            <a href="javascript://" class="btn btn-warning btn-bordered waves-effect waves-light hide_thongke" title="Chuyển xử lý" onclick="process.loadfrmAdd('@Url.Action("Add","Process",new {FkId=item.ID,Code =code })','Chuyển xử lý')">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a href="javascript://" class="btn btn-warning btn-bordered waves-effect waves-light hide_thongke" title="Trả lại" onclick="process.loadfrmAdd('@Url.Action("Add","Process",new {FkId=item.ID,Code =code,Return = "1" })','Trả lại')">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                            </a>
                            <a href="javascript://" class="btn btn-danger btn-bordered hide_thongke" onclick="news.ondelete(@item.ID) " title="Xóa">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
                    }
    </tbody>
</table>
<input type="hidden" value="@totalNews" id="count" />
<style>
    .mr4 > a {width: 30px;margin-top: 2px;}
     .btn.btn-bordered {padding: 4px;}
    .mr5 {width: 169px;}
</style>
<script>
    var count = $('#count').val();
    $('#countnews').text(count);
    jQuery(document).ready(function () {
        InitClickCheckAllInTable("chkall", function (res) {
            $("#hdfID").val(res);
        });
    });
</script>




