@using System.Web.UI.WebControls
@using Newtonsoft.Json
@using OfficeOpenXml.FormulaParsing.Excel.Functions.RefAndLookup
@using Web.Model
@model tbl_Chat
@{
    Layout = null;
    var currentID = (int)TempData["currentID"];
    var user1 = (string)TempData["user1"];
    var user2 = (string)TempData["user2"];
}
@{
    if (Model != null && !String.IsNullOrEmpty(Model.Content))
    {
        var lstMsg = JsonConvert.DeserializeObject<List<tbl_Message>>(Model.Content);
        if (lstMsg != null)
        {
            foreach (var items in lstMsg)
            {
                string img = "/Content/Admin/images/staff.png";
                if (items.IdUser == currentID)
                {
                    if (!String.IsNullOrEmpty(user1))
                    {
                        img = user1;
                    }
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="@img" alt="male" style="max-width: 35px">
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                @*<i>@items.Name</i>*@
                                <p> @Html.Raw(items.Message) </p>
                                <i class="time">@items.Time</i>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    if (!String.IsNullOrEmpty(user2))
                    {
                        img = user2;
                    }
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="@img" alt="male" style="max-width: 35px">
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                @*<i>@items.Name</i>*@
                                <p> @Html.Raw(items.Message) </p>
                                <i class="time">@items.Time</i>
                            </div>
                        </div>
                    </li>
                }
            }
        }
    } 
}