@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dothtml = ".html";
    var idshow = Model.ID;
}
@using Web.Core;
@using Web.Model
@model tbl_Topic

@{
    var time = "";
    if (Model.StartDate != null)
    {
        time = (Model.StartDate > DateTime.Now ? string.Format("{0: HH:mm}", Model.StartDate) : "Đang diễn ra");
    }
    else
    {
        time = "Chưa xác định";
    }
}

<div class="wrp">
    <div class="colleft">
        <div id="topic">
            <div class="main"> 
                <div class="slidetopic">
                    @if (Model.ListImgSlide != null)
                    {
                        foreach (var item in Model.ListImgSlide.Split('|'))
                        {
                            <div class="khungAnh">
                                <a class="khungAnhCrop" href="javascript://" title="">
                                    <img src="@item"/>
                                </a>
                            </div> 
                        }
                    } 
                </div>
                <div class="info">
                    <div class="left">
                        <div class="dayyear">
                            <div class="day">
                                @(Model.StartDate != null ? string.Format("{0: dd}", Model.StartDate) : "")
                                <p>Tháng @(Model.StartDate != null ? string.Format("{0: MM}", Model.StartDate) : "")</p>
                            </div>
                            <div class="year">@(Model.StartDate != null ? string.Format("{0: yyyy}", Model.StartDate) : "")</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="name">@Model.Title</div>
                        <div class="time"> Thời gian: @time
                        </div>
                        <div class="cont">
                            @Html.Raw(Model.Details)
                        </div>
                    </div>
                    <div class="cb"></div>
                </div>
            </div> 
            <div class="group">
                <div id="gridData">

                </div>  
                <a href="javascript://" onclick="loadmore()" class="viewmore" style="">Xem thêm câu hỏi khác</a>
            </div>

            <div class="inputForm">
                <div class="title">
                    Gửi câu hỏi
                </div>
                <div class="form">
                    <div class="col-md-6">
                        <p class="fRobotoB">Họ và tên (<span class="cred">*</span>)
                        </p>
                        <input type="text" value="" class="fullName require"/>
                    </div>
                    <div class="col-md-6">
                        <p class="fRobotoB">Email</p>
                        <input type="text" value="" class="email"/>
                    </div>
                    <div class="col-md-12">
                        <p class="fRobotoB">Nội dung (<span class="cred">*</span>)
                        </p>
                        <textarea  class="content require"></textarea>
                    </div>
                    <div>
                        <div class="capcha">
                            <p class="fRobotoB dib pr10">Mã bảo vệ (<span class="cred">*</span>)</p>
                            <input type="text" class="imgcode require"/>
                            <img src="~/CImage.aspx"/>
                        </div>
                        <a href="javascript://" title="" class="btnsend">Gửi</a>
                        <div class="fr fsti lh35 pr20 pt10">
                            Những trường có dấu (<span class="cred">*</span>) bắt buộc nhập!
                        </div> 
                        <div class="cb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colright">
        @{ Html.RenderAction("AdvRight1", "AdvHome"); }
        <!--Bên phải 1-->
        @{ Html.RenderAction("BanCanBiet", "News"); }
        <div class="cb h10"></div>
        @{ Html.RenderAction("SuKienNoiBat", "News"); }
        @{ Html.RenderAction("AdvRight2", "AdvHome"); }

        @{ Html.RenderAction("ThuVienAnh", "Image"); }
        @{ Html.RenderAction("Index", "LinkWebsite"); }
    </div>
    <div class="cb"></div>
</div> 
<input type="hidden" id="idshow" value="@idshow" />
<input type="hidden" id="ippage" value="0" />
<script>
    $(document).ready(function() {
        $('.btnsend').click(function() {
            var check = 0;
            $(this).parent().parent('.form').find('.require').each(function() {
                if ($(this).val() === "") {
                    alertmsg.error('Cần nhập đầy đủ thông tin!');
                    check = 1;
                    return false;
                }
            });
            if (check === 1) return false;

            var email = $(this).parent().parent('.form').find('.email').val();
            if (email != "" && email != null && !validateEmail(email)) {
                alertmsg.error('Email nhập chưa đúng định dạng');
                return false;
            }
            debugger; 
            var fullname = $(this).parent().parent('.form').find('.fullName').val();
            var content = $(this).parent().parent('.form').find('.content').val();
            var imgcode = $(this).parent().parent('.form').find('.imgcode').val();

            AjaxService.POST("/Topic/AddComment",
                {
                    idnews: @Model.ID, 
                    fullname: fullname,
                    email: email,
                    content: content,
                    imgcode: imgcode
                },
                function(res) {
                    if (res.thongbaocapcha == "false") {
                        alertmsg.error('Nhập sai mã bảo vệ, mời nhập lại!');
                        $('.form').find('.imgcode').val("");
                        $('.form').find('.imgcode').focus();
                        return false;
                    }
                    if (res.thongbao == "success") {
                        alertmsg.success(
                            "Gửi bình luận thành công! Bình luận của bạn đã được gửi đến quản trị kiểm duyệt");
                        $('.form').find('.require,.email').val("");
                    } else alertmsg.error('Gửi bình luận thất bại! Thử lại!');
                });
        });
    });
</script>
<script>
    loadmore();
    function loadmore() {
        $("#loading").show();
        var idshow = $('#idshow').val();
        var page = $('#ippage').val();
        page = 1 + parseInt(page);
        $('#ippage').val(page);
          
        AjaxService.POST("/Topic/ListData", {id: idshow, page: page }, function (res) {
            if (res.totalPages === page || res.totalPages === 0) $('.viewmore').fadeOut();
            $("#gridData").append(res.viewContent);
            $("#loading").hide(); 
        });

    }
</script>