
@using Web.Areas.Admin.Controllers
@using Web.Core
@using Web.Model
@model List<tbl_News_Custom>
@{
    var count = 0;
    string keyword = "";
    string notif = TempData["ThongBao"].ToString();
    var dothtml = ".html";
    if (string.IsNullOrEmpty(notif))
    {
        count = Convert.ToInt32(TempData["Count"]);
        keyword = TempData["Key"].ToString(); 
    }
    else
    {
        <p  style="font-size:20px">@notif</p>
        return;
    }
    <p style="font-size:20px">@ConfigTextController.GetValueCFT("timduoc") <span style="color: red">@count</span> @ConfigTextController.GetValueCFT("ketquavoitukhoa") "<span style="color:red;font-weight:bold">@keyword</span>" @ConfigTextController.GetValueCFT("chocacmucdachon")</p> 
}
<div class="cb h20"></div>
<div id="newslist">
    @foreach (var item in Model)
    {
        <div class="item"> 
            <div class="khungAnh">
                <a class="khungAnhCrop" href="/pages/detail/@item.CategoryIdStr.Split(',')[0]/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" title="">
                    <img src="@item.Photo"/>
                </a>
            </div>
            <div class="info">
                <a href="/pages/detail/@item.CategoryIdStr.Split(',')[0]/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" class="name">@item.Title</a> 
                <div class="dateview">
                    <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>@string.Format("{0: dd/MM/yyyy}", item.CreatedDate)
                    </span>
                    <span>
                        <i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount @ConfigTextController.GetValueCFT("luotxem")
                    </span>
                </div>
                <div class="cont dotdotdot">@if (item.Description != null){@Html.Raw(Common.RemoveHtmlTag(item.Description))}</div> 
            </div>
            <div class="cb"></div>
        </div>
    }
</div> 
<div class="col-md-12" id="paginationholder">
    <ul id="pagination" class="pagination"></ul>
</div>