@{
    var obj = Model.GetType();
    var name = obj.GetProperty("Name").GetValue(Model, null);
    var Type = obj.GetProperty("Type") == null ? "" : obj.GetProperty("Type").GetValue(Model, null);
    var Icon = obj.GetProperty("Icon") == null ? "" : obj.GetProperty("Icon").GetValue(Model, null);
    var multiple = obj.GetProperty("Multiple").GetValue(Model, null);
    var value = obj.GetProperty("Value") == null ? "" : obj.GetProperty("Value").GetValue(Model, null);

    var id1 = obj.GetProperty("id1") == null ? "" : obj.GetProperty("id1").GetValue(Model, null); 
    var id2 = obj.GetProperty("id2") == null ? "" : obj.GetProperty("id2").GetValue(Model, null); 
}
<script src="/Content/Admin/assets/notifications/notify.min.js"></script>
<script src="/Content/Admin/assets/notifications/notify-metro.js"></script>
<script src="/Content/Admin/assets/notifications/notifications.js"></script>
<script src="/Content/Admin/assets/sweet-alert/sweet-alert.min.js"></script>
<script src="/Content/Admin/assets/sweet-alert/sweet-alert.init.js"></script>
<script src="~/Scripts/common.js"></script>
@if (value != null)
{ 
    <input type="hidden" id="@name" name="@name" value="@value" class="fileuploadinput" />
}
else
{
    <input type="hidden" id="@name" name="@name" class="fileuploadinput" />
}
@if (multiple == true)
{
    if (Type == "FileImg")
    {
        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" multiple id="btn-upload-ajax-@name" class="btn btn-success btn-flat browser-image hidden" value="Chọn file">
    }
    else
    {
        <input type="file" multiple id="btn-upload-ajax-@name" class="btn btn-success btn-flat browser-image hidden" value="Chọn file">
    }

}
else
{
    if (Type == "FileImg")
    {
        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" id="btn-upload-ajax-@name" class="btn btn-success btn-flat browser-image hidden" value="Chọn file"> 
    }
    else
    {
        <input type="file" id="btn-upload-ajax-@name" class="btn btn-success btn-flat browser-image hidden" value="Chọn file">
    }

}

<div class="upload-ajax">
    <a href="javascript:void(0)" type="button" id="Upload" class="" onclick="$('#btn-upload-ajax-@name').click()"><i class="@Icon"></i></a>
    <i class="ion-loading-a loading-ajax-@name" style="display: none;"></i>
</div>
<div id="fileupload-@name" class="fileupload"></div>
<script> 
    $(document).ready(function () {
        var formatOffice = ["doc", "docx", "xls", "xlsx", "pdf", "txt"];
        var imageExtention =["png", "jpg", "jpeg", "gif", "bmp"];
        var name = '@name';
        var type = '@Type';
        var arrFiles = [];
        var strFiles = "";
        var classchat = "";
        var id1 = '@id1';
        var id2 = '@id2'; 
        classchat = '.chatonline.' + id1 + '.' + id2;
        var icon = "fa fa-file-zip-o";
        debugger; 

        $(classchat + " #btn-upload-ajax-" + name).uploadajax(classchat + " .loading-ajax-" + name, function (res) {
            if (res.status == true) {
                strFiles = $(classchat + " #fileupload-" + name).html();
                if ($(classchat + " #" + name).val() != "" && "@multiple" == "True") {
                    arrFiles = $(classchat + " #" + name).val().split("|");
                }
                else
                {
                    arrFiles = [];
                    strFiles = "";
                }
                for (var i = 0; i < res.files.length; i++) {
                    var extention = res.files[i].FileNameOriginal;
                    var item = extention.split('.');
                    var lastItem = item[item.length - 1];
                    var fileOffice = $.inArray(lastItem,formatOffice);
                    lastItem = lastItem.toLowerCase();
                    var index = $.inArray(lastItem, imageExtention); 

                    if (type === "FileImg") {
                        strFiles += '<a class="example-image-link" href="' + res.files[i].FileName + '" data-lightbox="example-' + id1 + '"><img src="' + res.files[i].FileName + '" /></a>';
                    }
                    else if (index>=0) {
                        strFiles += '<a class="example-image-link" href="' + res.files[i].FileName + '" data-lightbox="example-' + id1 + '"><img src="' + res.files[i].FileName + '" /></a>';
                    }
                    else if (fileOffice>0)
                    {
                        if (lastItem == "doc" || lastItem == "docx") {
                            icon = "fa fa-file-word-o";
                        } else if (lastItem == "xls" || lastItem == "xlsx") {
                            icon = "fa fa-file-excel-o";
                        } else if (lastItem == "pdf") {
                            icon = "fa fa-file-pdf-o";
                        } else {
                            icon = "fa fa-file-text-o";
                        }


                        strFiles += '<p class="completed" id="f' + i + '"><a href="' + res.files[i].FileName + '"><span class="fileName"><span class="' + icon + '" style="margin-right:3px"></span>' + res.files[i].FileNameOriginal + '</span></a>';
                    } else
                    {
                        strFiles += '<p class="completed" id="f' + i + '"><a href="' + res.files[i].FileName + '"><span class="fileName"><span class="' + icon + '" style="margin-right:3px"></span>' + res.files[i].FileNameOriginal + '</span></a>';
                    }

                    arrFiles.push(res.files[i].FileName); 
                    $(classchat).find('.emojionearea-editor').html(strFiles);
                    $(classchat).find('.sendmessage').click(); 
                }
            }
            $(classchat + " .loading-ajax-" + name).hide();
        }, true);
    }); 
</script> 