@using Web.Model;
@using Web.Core;
@using Web.Areas.Admin.Controllers
@model List<tbl_News_Custom>
@{
    ViewBag.Title = "";
    var dothtml = ".html";
    Layout = null;  
} 


@if (Model.Count > 0)
{
    <div id="sukiennoibat">
        <div class="title">
            <a href="javascript:;" title="Sự kiện nổi bật" class="ttu">Sự kiện nổi bật</a>
        </div>
        <div class="group">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="khungAnh">
                        <a class="khungAnhCrop" href="/pages/detail/@item.CategoryIdStr.Split(',')[0]/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" title="@item.Title">
                            <img src="@item.Photo" alt="@item.Title"/>
                        </a>
                    </div>
                    <a href="/pages/detail/@item.CategoryIdStr.Split(',')[0]/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" title="@item.Title" class="name">@item.Title</a>
                    <div class="cb"></div>
                </div>
            }
        </div>
    </div>
} 