@using Web.Model
@model Web.Model.tbl_UserAdmin

<div class="row">
    <label class="col-md-4 control-label">Họ và tên</label>
    <div class="col-md-8">
        @Html.DisplayTextFor(g => g.FullName)
    </div>
</div>
<div style="clear: both;"></div>
<div class="row">
    <label class="col-md-4 control-label">Địa chỉ</label>
    <div class="col-md-8">
        @Html.DisplayTextFor(g => g.Address)
    </div>
</div>
<div style="clear: both;"></div>

<div class="row">
    <label class="col-md-4 control-label">Số điện thoại</label>
    <div class="col-md-8">
        @Html.DisplayTextFor(g => g.Phone)
    </div>
</div>
<div style="clear: both;"></div>
 <div class="row">
    <label class="col-md-4 control-label">Số tài khoản</label>
    <div class="col-md-8">
        @Html.DisplayTextFor(g => g.SoTaiKhoan)
    </div>
</div>

<div style="clear: both;"></div>
<div class="row">
    <label class="col-md-4 control-label">Chi nhánh</label>
    <div class="col-md-8">
        @Html.DisplayTextFor(g => g.NganHang)
    </div>
</div>

<div class="col-md-8 pull-right pl0">
    <button type="button" onclick="modal.hide();" class="btn btn-primary waves-effect waves-light">Đóng</button>
</div>