<script src="~/Content/Admin/assets/ckfinder/ckfinder.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
@using Web
@using Web.Model
@model Web.Model.tbl_eMagazine
@{
    var lstCTV = (List<tbl_UserAdmin>)TempData["lstCTV"];
}
@using (Ajax.BeginForm("Edit", "eMagazine", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "emagazine.onAddSuccess"

    },
    new { @id = "basicForm", @class = "form-horizontal" }))
{
    
    <div class="form-group">
        <label class="col-md-2 control-label">Tiêu đề</label>
        <div class="col-md-10">
            @Html.HiddenFor(g => g.ID)
            @Html.HiddenFor(g => g.CreatedBy)
            @Html.HiddenFor(g => g.CreatedDate)
            @Html.TextBoxFor(g => g.Name, new { @class = "form-control"})
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-2 control-label">Ảnh đại diện <span class="asterisk">(*)</span></label>
        <div class="col-md-10">
            @Html.HiddenFor(g => g.Photo)
            <a id="BrowserPhoto" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">
                <span class="glyphicon glyphicon-paperclip"></span> Tải ảnh lên
            </a>
            <div class="mt10" id="previewthumbnail">
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="@Model.Photo" width="150" />
                }
            </div>
        </div>
    </div>
  
    <div class="form-group">
        <label class="col-md-2 control-label">Ảnh nền</label>
        <div class="col-md-10">
            @Html.Partial("_Attachment", new { Name = "Background", Multiple = false, Value = Model.Background, Type = "FileImg" }) 
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Màu chữ</label>
        <div class="col-md-10">
            <input type="color" value="@Model.Color" name="Color" id="Color" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Mô tả</label>
        <div class="col-md-10">
            @Html.TextAreaFor(g => g.Description, new { @class = "form-control", @rows = 3 })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Thông tin chân trang</label>
        <div class="col-md-10">
            @Html.TextAreaFor(g => g.Info, new { @class = "form-control", @rows = 3 })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Tác giả <span class="asterisk">(*)</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.Author, new { @class = "form-control" }) 
        </div> 
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Nhuận bút</label>
        <div class="col-md-4">
            @Html.TextBoxFor(g => g.NewMoney, new { @class = "form-control"})
        </div>
        <label class="col-md-2 control-label">Độ rộng (%)</label>
        <div class="col-md-4">
            @Html.TextBoxFor(g => g.Width, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Nguồn tin</label>
        <div class="col-md-4">
            @Html.TextBoxFor(g => g.Source, new {@class = "form-control"})
        </div>
        <label class="col-md-2 control-label">Ngày đăng</label>
        <div class="col-md-4">
            <div class="input-group">
                @Html.HiddenFor(g => g.CreatedDate)
                <input type="text" name="EditDate" id="EditDate" class="form-control datepicker-mask1" value="@string.Format("{0: dd/MM/yyyy HH:mm}",Model.CreatedDate)" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div> 

    <div class="form-group">
        <label class="col-md-2 control-label">Thứ tự</label>
        <div class="col-md-2 lockChar">
            @Html.TextBoxFor(g => g.Ordering, new { @class = "form-control",@type="number",min=0 })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 pull-right">
            <div class="checkbox checkbox-primary">
                <input id="Status" name="Status" type="checkbox" @(Model.Status ? "checked" : "") value="true">
                <label for="Status">
                    Kích hoạt
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-10 text-center">
        <button type="submit"   class="btn btn-primary waves-effect waves-light">Cập nhật</button>
        <button type="button" onclick="modal.hide()" class="btn btn-default waves-effect waves-light"><i class="glyphicon glyphicon-ban-circle"></i> Đóng</button>
    </div>
}
<style>
    .asterisk {
        color: red;
        font-weight: normal;
    }
</style>
<script>
    $(document).ready(function () {
        $('.datepicker-mask1').datetimepicker({
            locale: 'vi',
            sideBySide: true
        });
        $(".select2").select2({ "width": "100%" });
        $(".select2Multi").select2({
            "width": "100%"
        });

        $("#frmpost").validate({
            ignore: [],
            rules:
            {
                Name:
                {
                    required: true,
                    maxlength: 500
                },
            },
            messages:
            {
                Name:
                {
                    required: "Chưa nhập tiêu đề bài viết"
                }, 
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });


        CKEDITOR.replace("Info", {
            language: 'vi',
            disableNativeSpellChecker: false,
            filebrowserBrowseUrl: "/Content/Admin/assets/ckfinder/ckfinder.html",
            filebrowserImageBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Images',
            filebrowserFlashBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Flash',
            height: 150
        });
        CKEDITOR.replace("Description", {
            language: 'vi',
            disableNativeSpellChecker: false,
            filebrowserBrowseUrl: "/Content/Admin/assets/ckfinder/ckfinder.html",
            filebrowserImageBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Images',
            filebrowserFlashBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Flash',
            height: 150
        });
        $("#BrowserPhoto").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#previewthumbnail").html('<img src="' + fileUrl + '" width=150 />');
                $("#Photo").val(fileUrl);
            }
            ckfinder.popup();
        });

    });
</script>