@{
    Layout = null;
}
<script src="/Content/Admin/assets/select2/select2.min.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
@using Web
@using Web.Model
@model  List<tbl_SubeMagazine>

@if (Model != null && Model.Count > 0)
{
    var count = 0;
    foreach (var item in Model)
    {
        if (String.IsNullOrEmpty(item.Content))
        {
            <div class="hinhanh form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label">Thứ tự</label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" value="@item.Ordering" min="0" name="ordering_@count" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label">Chọn ảnh</label>
                            </div>
                            <div class="col-md-10">
                                <input type="file" multiple class="uploadFile" name="fileimg_@count"/>
                                <input type="hidden" value="@item.StrPhoto"/>
                                <div style="margin: 10px 0">
                                    @foreach (var items in item.StrPhoto.TrimEnd('|').Split('|'))
                                    {
                                        <a href="javascript://" class="item_img">
                                            <img src="@items" alt=""/>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    }
                                    <div style="clear: both"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            <a href="javascript://" title="Nâng cao" class="advance"><i class="fa fa-cog" aria-hidden="true"></i> Nâng cao</a>
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">
                            <a href="javascript://" title="Xóa" class="delete_image"><i class="fa fa-times" aria-hidden="true"></i> Xóa</a>
                        </label>
                    </div>
                </div>
                <div class="col-md-12" style="display: none; margin-top: 5px">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label">Số ảnh / dòng</label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" value="@item.NumberPhoto" min="0" class="form-control" name="countimg_@count"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox checkbox-primary">
                            <input name="check_@count" type="checkbox" @(item.isFullWidth ? "checked" : "") value="true"><label>Full màn hình</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label">Độ rộng (%)</label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" value="@item.WidthPhoto" min="0" class="form-control" name="widthimg_@count"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Vị trí</label>
                            </div>
                            <div class="col-md-9">
                                <select name="position_@count" class="form-control select2">
                                    <option @(item.PositionPhoto == 1 ? "selected" : "") value="1">Giữa</option>
                                    <option @(item.PositionPhoto == 2 ? "selected" : "") value="2">Trái</option>
                                    <option @(item.PositionPhoto == 3 ? "selected" : "") value="3">Phải</option>
                                    <option @(item.PositionPhoto == 4 ? "selected" : "") value="4">Trái nội dung</option>
                                    <option @(item.PositionPhoto == 5 ? "selected" : "") value="5">Phải nội dung</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="noidung form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="control-label">Thứ tự</label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" value="@item.Ordering" min="0" class="form-control" name="ordering_@count"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <textarea id="content_@count" name="content_@count">@item.Content</textarea>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">
                            <a href="javascript://" title="Xóa" class="delete_content"><i class="fa fa-times" aria-hidden="true"></i> Xóa</a>
                        </label>
                    </div>
                </div>
            </div>

            <script>
                CKEDITOR.replace("content_@count", {
                    language: 'vi',
                    disableNativeSpellChecker: false,
                    filebrowserBrowseUrl: "/Content/Admin/assets/ckfinder/ckfinder.html",
                    filebrowserImageBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Images',
                    filebrowserFlashBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Flash',
                    height: 150
                });
            </script>
        }
        count++;
    }

    <script>
        var count = '@count';
        if (count != '') $('#Total').val(count);
        else $('#Total').val(0);

        $('.item_img .fa').click(function () { 
            var href = $(this).prev().attr("src");
            var val = $(this).parent('.item_img').parent().prev().val().split("|");
            val = jQuery.grep(val, function (a) {
                return a != href;
            }); 
            var strFile = val.join('|');
            $(this).parent('.item_img').parent().prev().val(strFile);
            $(this).parent('.item_img').remove();
        }); 
    </script>
    <style>
        .item_img {position: relative;width: calc(100% / 4); border: 1px solid #fff; box-sizing: border-box; display: block; float: left}             
        .item_img .fa { position: absolute; z-index: 10; top: 5px; right: 5px; color: red}
        .item_img img {max-width: 100%}
    </style>
}
