@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lst = (List<tbl_News_Custom>)TempData["otherNews"];
    var lstRelated = (List<tbl_News_Custom>)TempData["lstRelated"];
    var catid = (string) TempData["catid"];
    var dothtml = ".html";

    var langCode = "vn";
    if (Session["langCodeHome"] != null)
    {
        langCode = Session["langCodeHome"].ToString();
    }

    var divcachdoan = Convert.ToInt32(ConfigTextController.GetValueCFT("divcachdoan", "20"));
}
@using System.Text.RegularExpressions
@using Web.Areas.Admin.Controllers
@using Web.Core;
@using Web.Model
@model tbl_News

<div id="new">
    <div class="newest">
        <div id="newdetail">
            <div class="des subtitle">@Model.SubTitle</div>
            <p class="name">@Model.Title</p>
            <div class="thongke">
                <div class='thongke-ngay'>
                    <span>@ConfigTextController.GetValueCFT("ngaydang"): @(langCode != "vn" ? string.Format("{0:   d-MMM-yyyy HH:mm}", Model.CreatedDate).Replace('-', '/') : string.Format("{0: dd/MM/yyyy HH:mm}", Model.CreatedDate).Replace('-', '/'))</span>
                </div>
                @*<div class="thongke-luotxem"><span>@ConfigTextController.GetValueCFT("luotxem"): @Model.ViewCount</span>
                    </div>*@
                <div class="cochu">
                    <span onclick="ResetTextSize()" style="cursor: pointer; margin-right: 15px">@ConfigTextController.GetValueCFT("macdinh")</span>
                    <span style="cursor: pointer">@ConfigTextController.GetValueCFT("cochu")</span>
                    <a href="javascript:DecreaseTextSize()" title="" class="SmallSize">
                        <img src="~/assets/display/Css/Icon/icon-cochu-giam.png" />
                    </a>
                    <a class="LargeSize" href="javascript:IncreaseTextSize()" title="">
                        <img src="~/assets/display/Css/Icon/icon-cochu-tang.png" />
                    </a>
                </div>
                <div class="cb"></div>
            </div>
            @if (lstRelated.Count > 0)
                        {
                    <ul class="listlq">
                        @foreach (var item in lstRelated)
                                {
                                    <li><a href="/pages/detail/@item.CategoryIdStr.Split(',')[0]/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" title=""><i class="fa fa-circle" aria-hidden="true"></i> @item.Title</a></li>
                                }
                    </ul>
                        }
            <div class="noidung TextSize">
                <p class="pb10" style="font-family: RobotoB !important">
                    @if (Model.Description != null)
                    {
                        @Html.Raw(Model.Description)
                    }
                </p>
                <div class="contentmain">
                    @{
                        if (Model.CreatedDate > HelperDateTime.ConvertDate("17/05/2018"))
                        {
                            @Html.Raw(Model.Details.Replace("&nbsp;", String.Empty).Replace("<p></p>", String.Empty).Replace("<br /></p>","</p>").Replace("<br></p>", "</p>"))
                        }
                        else
                        {
                            @Html.Raw(Model.Details)
                        } 
                    } 
                </div>
                
                @if (Model.CreatedDate > HelperDateTime.ConvertDate("17/05/2018"))
                {
                    <script type="text/javascript">
                        $(document).ready(function() { 
                            var cont = $('.contentmain').html();
                            cont = cont.replace(/(\<br[\s]*\/?\>[\s]*)+/g, '<br/>');
                            cont = cont.replace(/(\<br[\s]*\/?\>[\s]*)+/g, '<div class="divcachdoan"></div>');
                            cont = cont.replace(/(\<[\s]*\/?\p>[\s]*)+/g, '</p><div class="divcachdoan"></div>');
                            $('.contentmain').html(cont);
                            $('.divcachdoan').height(@divcachdoan);
                        });
                    </script>
                }
                @*@if (Model.CreatedDate > HelperDateTime.ConvertDate("17/05/2018"))
                {
                    <style>
                        .noidung p, .noidung h1, .noidung h2, .noidung h3, .noidung h4, .noidung h5, .noidung h6, .noidung table, .noidung a img, .noidung div{ margin-bottom: 30px; }
                        .noidung table p{ margin: 0; }
                        .noidung p span{ float: left; width: 100%; }
                    </style>
                }*@
                <div class="pt10">
                    @if (!String.IsNullOrEmpty(Model.Attachment))
                                {
                                <span class="pr5"><i class="fa fa-paperclip" aria-hidden="true"></i> @ConfigTextController.GetValueCFT("tepdinhkem") </span><a href="@Model.Attachment" class="download" title="Tải về"><i class="fa fa-download" aria-hidden="true"></i> @ConfigTextController.GetValueCFT("taive")</a>
                                }
                    <div class="cb"></div>
                    <p class="fl fsti">@Model.SourceNews</p>
                    <p class="fr fRobotoB pr10">@Model.Author</p>
                    <div class="cb"></div>
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.Tags))
                        {
                            string link = "";
                    <div class="tags">
                        <span class="fs12"><i class="fa fa-tags" aria-hidden="true"></i> Tags: </span>
                        @foreach (var item in Model.Tags.Split(';'))
                                {
                                    link = "/pages/search.html?key=" + item;
                                <a href="@link" title="@item">@item</a>
                                }
                    </div>
                        }
            <div id="CommonCuoiChiTietTin">
                <div class="fl apd">
                    <a class="prevDBT" href="javascript:history.go(-1)">@ConfigTextController.GetValueCFT("vetrangtruoc")</a>
                    <div class="fr pl20 apd">
                        <a href="javascript:void(0)" class="email addthis_button_email">@ConfigTextController.GetValueCFT("guiemail")</a>
                        <a href="javascript:window.print()" class="print">@ConfigTextController.GetValueCFT("intrang")</a>
                    </div>
                </div>
                <div class="fr">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                        <div id="fb-root"></div>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, "script", "facebook-jssdk"));
                        </script>
                        <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

                        <!-- Place this tag where you want the share button to render. -->
                        <div class="g-plus" data-action="share" data-annotation="bubble"></div>

                        <!-- Place this tag after the last share tag. -->
                        <script type="text/javascript">
                            (function () {
                                var po = document.createElement("script");
                                po.type = "text/javascript";
                                po.async = true;
                                po.src = "https://apis.google.com/js/platform.js";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(po, s);
                            })();
                        </script>

                        <div class="shareItem">
                            <a class="addthis_button_facebook"></a>
                        </div>
                        <div class="shareItem">
                            <a class="addthis_button_twitter"></a>
                        </div>
                        <div class="shareItem">
                            <a class="addthis_button_zingme"></a>
                        </div>
                        <div class="shareItem">
                            <a class="addthis_button_compact"></a>
                        </div>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5299e3fd219dc19f"></script>
                        <!-- AddThis Button END -->
                    </div>

                </div>
                <div class="cb"></div>
            </div>
            @if (Model.IsComment == true)
                        {
                            {
                                Html.RenderAction("CommentManager", "News", Model.ID);
                            }
                        }

            @if (lst.Count > 0)
                        {
                    <div class="other">
                        <h3 class="fRobotoB fs18 pb10">@ConfigTextController.GetValueCFT("tincungchuyenmuc")</h3>
                        <ul>
                            @foreach (var item in lst)
                                    {
                                    <li>
                                        <a href="/pages/detail/@catid/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml">
                                            <p><i class="fa fa-circle" aria-hidden="true"></i> @item.Title</p>
                                        </a>
                                    </li>
                                    }
                        </ul>
                    </div>
                        }
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var hleft = $('#new .newest .left').innerHeight();
                $('#new .newest .right').innerHeight(hleft); 
            });
            $(window).resize(function () {
                var hleft = $('#new .newest .left').innerHeight();
                $('#new .newest .right').innerHeight(hleft);
            });
        </script> 
    </div>
</div>

