
@using Web.Model
@{
    Layout = null;
    var langCode = "vn";
    if (Session["langCodeHome"] != null)
    {
        langCode = Session["langCodeHome"].ToString();
    }
    var lstAdvHome1 = (List<tbl_Advert>)TempData["lstAdvHome1"];
    lstAdvHome1 = lstAdvHome1.Where(g => g.LangCode == langCode).ToList(); 
}

<div class="col-fix-left dnTablet-l">
    @foreach (var item in lstAdvHome1)
    {
        <a href="@item.Url" @(item.isNewTab ? "target='_blank'" :"") title="@item.Name" class="banner">
            <img src="@item.Image" alt="@item.Name" />
        </a>
    }
</div> 