<script src="~/Content/Admin/assets/ckfinder/ckfinder.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
@using Web.Model
@model Web.Model.tbl_Video
@using (Ajax.BeginForm("Edit", "Video", null,
                                                                                                                                        new AjaxOptions
                                                                                                                                        {
                                                                                                                                            HttpMethod = "POST",
                                                                                                                                            OnSuccess = "video.onEditSuccess"
                                                                                                                                        },
                                                                                                                                        new { @id = "basicForm", @class = "form-horizontal" }))
{
    var lst = (List<tbl_VideoCategory>)TempData["lstCate"];
    var languages = "vn";
    if (TempData["languages"] != null)
    {
        languages = (string)TempData["languages"];
    }
    <script src="~/Scripts/_references.js"></script>
    @Html.HiddenFor(g=>g.CreateById)
    <div class="form-group">
        <label class="col-md-2 control-label">Ngôn ngữ: </label>
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(languages))
            {
                <p style="margin-top:8px;">@languages</p>

            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tên video <span class="asterisk">(*)</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.Title, new { @class = "form-control", placeholder = "Tên video" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mô tả</label>
        <div class="col-md-10">
            @Html.TextAreaFor(g => g.Description, new { @class = "form-control", placeholder = "Mô tả" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Chọn danh mục <span class="asterisk">(*)</span></label>
        <div class="col-md-10">
            @Html.DropDownListFor(g => g.VideoCategoryId, new SelectList(lst, "ID", "Name"), "---Chọn danh mục video---", new { @class = "form-control select2 ", @multiple = "multiple" })
            <input hidden value="@Model.VideoCategoryId" id="hiddenVideoCategoryId" />

        </div>
    </div>
    @Html.HiddenFor(g => g.ID)
    @Html.HiddenFor(g => g.Type)
    @Html.HiddenFor(g => g.CreatedDate)
    @Html.HiddenFor(g => g.CreatedBy)
    @Html.HiddenFor(g => g.ViewNumber)
    @Html.HiddenFor(g => g.Images)
    @Html.HiddenFor(g => g.LangCode)

    <input type="hidden" id="indirect" value="" name="Type">
    <div class="form-group">
        <label class="col-md-2 control-label">Kiểu video</label>
        <div class="col-md-10">
            <select class="form-control select2" name="type-video" id="type-video" onchange="video.typeVideo()">
                <option value="2" @(Model.Type == 2 ? "selected" : "")>Video youtube</option>
                <option value="1" @(Model.Type == 1 ? "selected" : "")>Video upload</option>
                <option value="3" @(Model.Type == 3 ? "selected" : "")>Video nguồn khác</option>
            </select>
        </div>
    </div>

    <div class="form-group indirect model_video" @((Model.Type == 1) || (Model.Type == 3) ? "hidden" : "") id="video-youtube">
        @if (Model.Type == 2)
        {
            <label class="col-md-2 control-label">Url</label>
            <div class="col-md-10">
                <input type="text" id="urlyoutube" name="urlyoutube" class="form-control" value="@Model.Url" placeholder="https://www.youtube.com/watch?v=id" />
                <div class="wrap-thumb-video" id="iframeyoutube">

                    <img id="imgyoutube" src="@(Model.Images ?? "Content/Site/images/noimage.png")" width="320" height="240" />
                </div>
            </div>
        }
        <div class="" @(Model.Type == 2 ? "hidden" : "")>
            <label class="col-md-2 control-label">Url</label>
            <div class="col-md-10">
                <input type="text" id="urlyoutube" style="margin-bottom:10px;" name="urlyoutube" class="form-control" placeholder="https://www.youtube.com/watch?v=id" />
                <div class="wrap-thumb-video" id="iframeyoutube">
                    <img id="imgyoutube" src="/Content/Site/images/noimage.png" width="320" height="240" />
                </div>
            </div>
        </div>

    </div>

    <div class="form-group indirect model_video" @((Model.Type == 2) || (Model.Type == 3) ? "hidden" : "") id="video-upload">
        <label class="col-md-2 control-label">Upload Video</label>
        <div class="col-md-10">
            @{
                var group_link = (string)TempData["group_link"];
                var group_name = (string)TempData["group_name"];
                var group_size = (string)TempData["group_size"];
            }
            @Html.Partial("~/Views/Shared/_JqueryUpload.cshtml", new { changeName = true, auto = false, Name = "Attachment", Multiple = false, Value = group_link, type = "document", setname = "ReplaceName", valueName = group_name, setSize = "Size", valueSize = group_size, typefile = "video" })


        </div>
        <div class="row">
            <label class="col-md-2 control-label">Ảnh đại diện</label>
            <div class="col-md-10" style="padding-left:15px;margin-top:10px;">
                <a id="Browser" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">
                    <span class="glyphicon glyphicon-paperclip"></span> Tải ảnh lên
                </a>
                <div class="mt10" id="previewthumbnail">
                    @if (!string.IsNullOrEmpty(Model.Images))
                    {
                        <img src="@Model.Images" width="150" />
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="form-group indirect model_video" @((Model.Type == 1) || (Model.Type == 2) ? "hidden" : "") id="video-nguonkhac">
        @if (Model.Type == 3)
        {
            <label class="col-md-2 control-label">Url <span class="asterisk">(*)</span></label>
            <div class="col-md-10">
                <input type="text" id="url-nguon-khac" name="url_nguon_khac" class="form-control" value="@Model.Url" placeholder="link từ nguồn khác" />
            </div>
            <div class="row">
                <label class="col-md-2 control-label">Ảnh đại diện</label>
                <div class="col-md-10" style="padding-left:15px;margin-top:10px;">
                    <a id="BrowserNguonKhac" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">
                        <span class="glyphicon glyphicon-paperclip"></span> Tải ảnh lên
                    </a>
                    <div class="mt10" id="avartar_nguonkhac">
                        @if (!string.IsNullOrEmpty(Model.Images))
                        {
                            <img src="@Model.Images" width="150" />
                        }
                    </div>
                </div>
            </div>
        }
        <div class="" @(Model.Type == 3 ? "hidden" : "")>
            <label class="col-md-2 control-label">Url</label>
            <div class="col-md-10">
                <input type="text" id="urlyoutube" style="margin-bottom:10px;" name="url_nguon_khac" class="form-control" placeholder="link từ nguồn khác" />

            </div>
            <div class="row">
                <label class="col-md-2 control-label">Ảnh đại diện</label>
                <div class="col-md-10" style="padding-left:15px">
                    <a id="nguonkhac_hidden" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">
                        <span class="glyphicon glyphicon-paperclip"></span> Tải ảnh lên
                    </a>
                    <div class="mt10" id="avartar_hidden"></div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="form-group">
            <label class="col-md-2 control-label">Thời gian</label>
            <div class="col-md-2">
                @Html.TextBoxFor(g => g.Duration, new { @class = "form-control", placeholder = "Thời gian" })
            </div>

        </div>*@
                <div class="form-group">
                    <label class="col-md-2 control-label">Nhuận bút</label>
                    <div class="col-md-3 lockChar">

                        <input id="NewMoney" class="form-control" name="NewMoney" value="@Model.NewMoney"/>
                    </div>
                    <div class="vnđ">(VNĐ)</div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Thứ tự</label>
                    <div class="col-md-2 lockChar">
                        @Html.TextBoxFor(g => g.Ordering, new { @class = "form-control", Value = Model.Ordering ?? 0, min = 0, type = "number" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <div class="checkbox checkbox-primary">
                            <input id="IsHot" name="IsHot" type="checkbox" @(Model.IsHot ? "checked" : "") value="true">
                            <label for="IsHot">Nổi bật</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <div class="checkbox checkbox-primary">
                            <input id="IsHome" name="IsHome" type="checkbox" @(Model.IsHome ? "checked" : "") value="true">
                            <label for="IsHome">Trang chủ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <div class="checkbox checkbox-primary">
                            <input id="Status" name="Status" type="checkbox" @(Model.Status ? "checked" : "") value="true">
                            <label for="Status">
                                Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 text-center">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Cập nhật</button>
                    <button type="button" onclick="modal.hide()" class="btn btn-default waves-effect waves-light"><i class="glyphicon glyphicon-ban-circle"></i> Đóng</button>
                </div>
                }
<style>
    .asterisk {
        color: red;
        font-weight: normal;
    }
</style>
<script>
    $(document).ready(function () {
        $(".select2").select2({ "width": "100%" });
        $("#Browser").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#previewthumbnail").html('<img src="' + fileUrl + '" width=150 />');
                $("#Images").val(fileUrl);
            }
            ckfinder.popup();
        });
        $("#BrowserNguonKhac").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#avartar_nguonkhac").html('<img src="' + fileUrl + '" width=150 />');
                $("#Images").val(fileUrl);
            }
            ckfinder.popup();
        });
        $("#nguonkhac_hidden").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#avartar_hidden").html('<img src="' + fileUrl + '" width=150 />');
                $("#Images").val(fileUrl);
            }
            ckfinder.popup();
        });
        $("#Browser_hidden").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#previewthumbnail_hidden").html('<img src="' + fileUrl + '" width=150 />');
                $("#Images").val(fileUrl);
            }
            ckfinder.popup();
        });
        $(".select2Multi").select2({
            "width": "100%"
        });
        $('.lockChar').on("keypress", function () {
            return event.charCode >= 48 && event.charCode <= 57
        })
        $('#NewMoney').on('keyup', function () {
            debugger;
            var money = $(this).val();
            var count = money.length;
            money = money.replace(".", "");
            money = money.replace(".", "");
            if (count > 3) {
                var mumber = Math.floor(count / 3);
                money = accounting.formatNumber(money)
                for (var i = 1; i <= mumber; i++) {
                    money = money.replace(",", ".");
                }
            }
            $(this).val(money);
        })
        $('#NewMoney').on('keyup', function () {
            debugger;
            var money = $(this).val();
            var count = money.length;
            money = money.replace(".", "");
            money = money.replace(".", "");
            if (count > 3) {
                var mumber = Math.floor(count / 3);
                money = accounting.formatNumber(money)
                for (var i = 1; i <= mumber; i++) {
                    money = money.replace(",", ".");
                }
            }
            $(this).val(money);
        })
        var nhuanbut = $("#NewMoney").val();
        debugger;
        nhuanbut = accounting.formatNumber(nhuanbut)
        var count = nhuanbut.length;
        var mumber = count / 3;
        for (var i = 0; i <= mumber; i++) {
            nhuanbut = nhuanbut.replace(",", ".");
        }
        $("#NewMoney").val(nhuanbut);
        $("#basicForm").validate({
            rules:
            {
                Name:
                {
                    required: true
                },
                Url:
                {
                    required: true,
                    url: true
                },
                url_nguon_khac: {
                    required: true
                },
            },
            messages:
            {
                Name:
                {
                    required: "Bạn chưa nhập tiêu đề"
                },
                Url: {
                    required: "Bạn chưa nhập Url",
                    url: "Bạn nhập sai định dạng"
                },
                url_nguon_khac: {
                    required: "Bạn chưa nhập url"
                },
            }
        });
        $("#basicForm #urlyoutube").change(function () {
            var img = video.jYoutube($(this).val(), 320);
            $("#basicForm #imgyoutube").attr('src', img);
            $("#basicForm #Images").val(img);
        });
        $("#basicForm #LangCode").change(function () {
            $.get("/Admin/PageElement/GetAllByLangCode?LangCode=" + $(this).val(), function (res) {
                var html = "";
                for (var i = 0; i < res.length; i++) {
                    html += '<option value="' + res[i].ID + '">' + res[i].Name + '</option>';
                }
                $("#PageElementId").html(html);
            });
        });

    });
</script>
<script>
    var VideoCateId = $("#hiddenVideoCategoryId").val().split(',');
    $("#VideoCategoryId").select2("val", VideoCateId);
</script>
<style>
    .wrap-thumb-video {
        position: relative;
    }

    .thumb-video {
        position: absolute;
    }

    .playvideo {
        position: absolute;
        width: 40px;
        left: 38px;
        top: 33px;
    }
</style>