
<link rel="stylesheet" href="/Content/Admin/assets/colorpicker/css/colorpicker.css" type="text/css" />
<script type="text/javascript" src="/Content/Admin/assets/colorpicker/js/colorpicker.js"></script>
@using Web.Model
@model news_category
@{
    var lstLanguages = (List<tbl_Languages>)TempData["languages"];
    var objDC = new document_category { ID = Model.ID, Name = Model.Name, LangCode = Model.LangCode, Ordering = Model.Ordering, Status = Model.Status, support_1 = Model.support_1, support_2 = Model.support_2, advert_1 = Model.advert_1, display_1 = Model.display_1, view_more_detail = Model.view_more_detail };
    var support_1 = (String)TempData["support_1"];
    var advert_1 = (String)TempData["advert_1"];
    var display_1 = (String)TempData["display_1"];
    var controllerName = (String)TempData["controllerName"];
}
@using (Ajax.BeginForm("Edit", "NewsCategory", null,
                                                                                                                            new AjaxOptions
                                                                                                                            {
                                                                                                                                HttpMethod = "POST",
                                                                                                                                OnSuccess = "NewsCategory.onEditSuccess"
                                                                                                                            },
                                                                                                                            new { @id = "basicForm", @class = "form-horizontal" }))
{
    @Html.HiddenFor(g => g.ID)
    //@Html.HiddenFor(g => g.UserType)
    @Html.HiddenFor(g => g.CreatedDate)
    @Html.HiddenFor(g => g.CreatedBy)
    <input hidden id="support_1z" value="@support_1" />
    <input hidden id="advert_1z" value="@advert_1" />
    <input hidden id="display_1z" value="@display_1" />
    <div class="form-group">
        <label class="col-md-2 control-label">Ngôn ngữ</label>
        <div class="col-md-9">
            <select id="LangCode" name="LangCode" class="form-control select2">
                @*<option value="">-- Chọn ngôn ngữ --</option>*@
                @{
                    foreach (var item in lstLanguages)
                    {
                        <option value="@item.Code" @(Model.LangCode == item.Code ? "selected" : "")>@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Danh mục cha</label>
        @{
            var lstNewsCategory = (List<news_category>)TempData["NewsCategory"];
            lstNewsCategory.ForEach(g => g.Name = string.Concat(Enumerable.Repeat("--", g.Level)) + g.Name);
        }
        <div class="col-md-9">
            @Html.DropDownListFor(x => x.ParentID, new SelectList(lstNewsCategory, "ID", "Name"), "- Chọn danh mục cha -", new { @class = "form-control select2" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tiêu đề <span class="asterisk">(*)</span></label>
        <div class="col-md-9">
            @Html.TextBoxFor(g => g.Name, new { @class = "form-control ", placeholder = "Tiêu đề" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Ảnh đại diện</label>
        <div class="col-md-10">
            @Html.HiddenFor(g => g.Photo)
            <a id="Browser" class="btn btn-primary btn-custom waves-effect waves-light m-b-5">
                <span class="glyphicon glyphicon-paperclip"></span> Tải ảnh lên
            </a>
            <div class="mt10" id="previewthumbnail">
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <a id="aTag" href="#" onclick="RemoveImage()" title="Xóa ảnh"><i class="fa fa-close" style="font-size: 25px;"></i></a>
                    <img id="image" src="@Model.Photo" width="150" />
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Title</label>
        <div class="col-md-9">
            @Html.TextBoxFor(g => g.Title, new { @class = "form-control", placeholder = "Title" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Key word</label>
        <div class="col-md-9">
            @Html.TextBoxFor(g => g.Keyword, new { @class = "form-control", placeholder = "Keyword" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mô tả</label>
        <div class="col-md-9">
            @Html.TextBoxFor(g => g.Description, new { @class = "form-control", placeholder = "Description" })
            @*@Html.TextAreaFor(g => g.Description, new { @id = "FullDescription", @class = "form-control", @rows = "200" })
                @Html.ValidationMessageFor(g => g.Description, "", new { @class = "text-danger" })
                <script>
                    CKEDITOR.replace('FullDescription');
                </script>*@
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Thứ tự <span class="asterisk">(*)</span></label>
        <div class="col-sm-9">
            @Html.TextBoxFor(g => g.Ordering, new { @class = "form-control", placeholder = "Thứ tự" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10 pull-right">
            <div class="checkbox checkbox-primary">
                <input id="Status" name="Status" type="checkbox" value="true" @(Model.Status ? "checked" : "")>
                <label for="Status">
                    Kích hoạt
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-10 text-center">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Cập nhật</button>
        <button type="button" onclick="modal.hide()" class="btn btn-default waves-effect waves-light"><i class="glyphicon glyphicon-ban-circle"></i> Đóng</button>
    </div>

    <div class="form-group">
        <div class="row">

        </div>
    </div>
    <div class="col-md-12">
        @Html.Partial("_TableSelectPartial", objDC);
    </div>


            }
<style>
    .asterisk {
        color: red;
        font-weight: normal;
    }

    #aTag {
        color: red;
        text-decoration: none;
        padding: 0px;
        margin: 0px;
        position: absolute;
        z-index: 2;
        right: -9px;
        bottom: -12px;
    }

    #previewthumbnail {
        position: relative;
        display: table;
    }
</style>
<script src="~/AppJs/newscategory.js"></script>
<script>


    function RemoveImage() {
        debugger;
        swal({
            title: "Bạn có muốn xóa ảnh này không?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Đồng ý",
            cancelButtonText: "Hủy",
        }, function (isConfirm) {
            if (isConfirm) {
                $("#image").remove();
                $("#Photo").val("");
                $("#aTag").remove();
            }
            $("#loading").hide();
        });

    };
    $(".select2").select2({ "width": "100%" });
    $(document).ready(function () {
        $("#Browser").click(function () {
            var ckfinder = new CKFinder();
            ckfinder.selectActionFunction = function (fileUrl) {
                $("#previewthumbnail").html('<a id="aTag" href="#" onclick="RemoveImage()" title="Xóa ảnh"><i class="fa fa-close" style="font-size: 25px;"></i></a>' + '<img id="image" src="' + fileUrl + '" width=150 />');
                $("#Photo").val(fileUrl);
            }
            ckfinder.popup();
        });
        $.validator.addMethod("CheckTrung", function (id, value, element) {
            debugger;
            var name = $("#Name").val();
            var id = $("#ID").val();
            var isSuccess = true;//không trùng
            $.ajax({
                async: false,
                url: "/NewsCategory/CheckTrung",
                type: "get",
                dataType: "json",
                data: {
                    id: id,
                    name: name

                },
                success: function (res) {
                    if (res.trungTen == true) {
                        isSuccess = false;
                    }
                }
            });
            return isSuccess;

        }, "Tên đã tồn tại");
        $("#basicForm").validate({
            rules:
            {
                Name:
                {
                    required: true,
                    CheckTrung: true
                },
                Ordering: {
                    required: true,
                    digits: true
                }
            },
            messages:
            {
                Name:
                {
                    required: "Chưa nhập tên tài liệu",
                    CheckTrung: "Tên đã tồn tại"
                },
                Ordering: {
                    required: "Nhập số thứ tự",
                    digits: "Nhâp kiểu số"
                }

            }
        });
        account.initcheckall();
        $('#pagemanager').slimScroll({
            height: '300px',
        });
        $('.datepicker-mask1').datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY'
        });
        $(".select").select2();
    });

</script>


