@{
    Layout = null;
}
@using Web.Core
@model IEnumerable<Web.Model.tbl_Video>
@{
    var dothtml = ".html";
    string link = "";
} 

@foreach (var item in Model)
{
    link = "/video/" + item.ID + "/" + HelperString.RemoveMark(item.Title) + dothtml;
    <div class="item">
        <div class="khungAnh">
            <a class="khungAnhCrop" href="@link" title="@item.Title">
                <img src="@item.Images" alt="@item.Title" />
            </a>
            <div class="over">
                <div> 
                    <p><i class="fa fa-eye" aria-hidden="true"></i> @HelperNumber.ConvertToThousand64(item.ViewNumber) lượt xem
                    </p>
                </div>
            </div> 
        </div>
        <div class="info">
            <div class="info1">
                <a href="@link" title="@item.Title" class="name">@item.Title</a>
                @*<div class="cont dotdotdot"></div>*@
            </div>
        </div>
    </div>
}
