@using System.Web.UI.WebControls
@using OfficeOpenXml.FormulaParsing.Excel.Functions.RefAndLookup
@using Web.Model
@model tbl_UserAdmin
@{
    Layout = null;
    var rowUser = (tbl_UserAdmin)TempData["rowUser"];
}

<div class="chatonline @Model.ID @rowUser.ID">
    <input type="hidden" value="@DateTime.Now.ToString()" class="timecheck" />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.FullName <span class="countchat">0</span>
        </h3>
        <a href="javascript://" title="" class="closechat" onclick="chat.closechat(@rowUser.ID, @Model.ID)"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="javascript://" title="" class="hidechat" onclick="chat.headerclick(@rowUser.ID, @Model.ID)"><i class="fa fa-minus" aria-hidden="true"></i></a>
    </div>
    <div class="panel-body">
        <div class="chat-conversation">
            <ul id="chat_@Model.ID" class="discussion conversation-list nicescroll" tabindex="5001" style="overflow-x: hidden; outline: none; overflow-y: auto"></ul>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12 chat-inputbar"> 
                    <textarea style="width: 100%; height: 50px" class="message form-control chat-input" placeholder="Nhập tin nhắn..."></textarea>
                </div>
                <div class="col-sm-3 chat-send" style="display: none">
                    <a data-id="@Model.ID" class="sendmessage btn btn-info btn-block waves-effect waves-light"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <div class="chucnangchat">
                    <ul>
                        <li>
                            @Html.Partial("_AttachmentChat", new { Name = "ListImgSlide_" + Model.ID, Multiple = true, Type = "FileImg", Icon = "fa fa-file-image-o", id1 = Model.ID, id2 = rowUser.ID })
                        </li>
                        <li>
                            @Html.Partial("_AttachmentChat", new { Name = "ListImgSlide1_" + Model.ID, Multiple = true, Type = "", Icon = "fa fa-file-zip-o", id1 = Model.ID, id2 = rowUser.ID })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/AppJs/chat.js"></script>
<script>
    $(function () { chat.messenger('@rowUser.ID'); });
</script>
</div>   