@using Web.Model
@using Web.Areas.Admin.Controllers
@{
    Layout = null; 
}
 @model List<tbl_LinkWebsite>
<div id="lienketwebsite">
    <div class="title">
        <a href="#" title="">
            <p>@ConfigTextController.GetValueCFT("LienKetWebSite")</p>
        </a>
    </div>
    <select class="select2" onchange="window.open(this.value,'_blank')">
        <option selected>-------- @ConfigTextController.GetValueCFT("ChonLienKetWebSite") -------</option>
        @foreach (var item in Model)
        {
            <option value="@item.Url" title="@item.Name">@item.Name</option>
        }
    </select>
</div>