@model Web.Model.tbl_TopicComment
@using Web.Core
@{
    var Model = (Web.Model.tbl_TopicComment)TempData["objcmt"];
}
@using (Ajax.BeginForm("AddRepCmt", "Topic", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "topiccomment.onAddRepSuccess"
    },
    new { @id = "basicForm", @class = "form-horizontal" }))
{ 
    @Html.Hidden("CommentID", Model.CommentID)
    @Html.Hidden("TopicID", Model.TopicID) 
    @Html.Hidden("CreateDate", Model.CreateDate) 
    @Html.Hidden("ID", Model.ID) 
    <div class="form-group">
        <label class="col-md-2 tar lh34">Người bình luận: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.FullName, new { @class = "form-control", @Value = Model.FullName ?? "" })
        </div> 
    </div>
    <div class="form-group">
        <label class="col-md-2 tar lh34">Email: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.Email, new { @class = "form-control", @Value = Model.Email ?? "" })
        </div> 
    </div>
    <div class="form-group">
        <label class="col-md-2 tar">Ngày gửi: </label>
        <div class="col-md-10">@string.Format("{0: dd/MM/yyyy HH:mmm}", Model.CreateDate).Replace('-','/')</div>
    </div>
    <div class="form-group">
        <label class="col-md-2 tar lh34">Nội dung: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.NoiDung, new { @class = "form-control", @Value = Model.NoiDung ?? "" })
        </div>  
    </div>

    <div class="form-group">
        <label class="col-md-2 tar lh34">Trả lời: </label>
        <div class="col-md-10">
            @*@Html.TextAreaFor(g => g.TraLoi, new { @class = "form-control"})*@
            <textarea id="TraLoi" name="TraLoi" class="form-control">@Model.TraLoi</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 tar lh34">Người trả lời: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(g => g.NguoiTraLoi, new { @class = "form-control", @Value = Model.NguoiTraLoi ?? "" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 tar">&nbsp;</label>
        <div class="col-md-10">
            <div class="checkbox checkbox-primary">
                <input id="Status" name="Status" type="checkbox" @(Model.Status ? "checked" :"") value="true">
                <label for="Status">Kích hoạt</label>
            </div>
        </div>
    </div>
    <div class="col-md-10 pull-right pl0">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Trả lời</button>
        @*<a href="javascript://" class="btn btn-warning waves-effect waves-light" onclick="topiccomment.destroycm(@Model.ID)">Hủy chọn</a>
        <a href="javascript://" class="btn btn-danger waves-effect waves-light" onclick="$('.modal').modal('hide');">Tắt chỉnh sửa</a>*@
    </div>
}
<script>
    $(document).ready(function () {
        $("#basicForm").validate({
            rules:
            {
                NoiDung:
                {
                    required: true
                },
                FullName:
                {
                    required: true
                }
            },
            messages:
            {
                NoiDung:
                {
                    required: "Bạn Chưa nội dung trả lời "
                },
                FullName: {
                    required: "Bạn chưa nhập tên người trả llơi"
                }
            }
        });
    }); 

    CKEDITOR.replace("TraLoi", {
        language: 'vi',
        filebrowserBrowseUrl: "/Content/Admin/assets/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Images',
        filebrowserFlashBrowseUrl: '/Content/Admin/assets/ckfinder/ckfinder.html?Type=Flash',
        height: 350
    }); 
</script>
<style>
    .tar {text-align: right}
    .lh34 {line-height: 34px}
</style>