@model Web.Model.tbl_TopicComment
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Người bình luận: </label>
    <div class="col-md-10">@Model.FullName</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Email: </label>
    <div class="col-md-10">@Model.Email</div>
</div> 
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Ngày gửi: </label>
    <div class="col-md-10">@string.Format("{0: dd/MM/yyyy HH:mmm}", Model.CreateDate)</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Nội dung: </label>
    <div class="col-md-10">@Model.NoiDung</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Trả lời: </label>
    <div class="col-md-10">@Html.Raw(Model.TraLoi)</div>
</div>
<div class="form-group col-md-12">
    <label class="col-md-2 tar">Người trả lời: </label>
    <div class="col-md-10">@Model.NguoiTraLoi</div>
</div>

<style>
    .tar {text-align: right}
</style>