@using Web.Core
@using Web.Model
@model tbl_News
  @{ 
      var lstRelated = (List<tbl_News_Custom>)TempData["lstRelated"];
      var dothtml = ".html";
      var imageExtention = new[] { "png", "jpg", "jpeg", "gif", "bmp" };
      int pos = -1;
  } 
<div class="wrp">
    <div>
        <div class="colleft">
            <div id="new">
                <div class="newest">
                    <div class="wrp">
                        <div class="colleft">
                            <div id="newdetail">
                                <div class="des subtitle">@Model.SubTitle</div>
                                <p class="name">@Model.Title</p>
                                <div class="thongke">
                                    <div class='thongke-ngay'>
                                        <span>Ngày đăng:@string.Format("{0: dd/MM/yyyy HH:mm}", Model.CreatedDate)</span>
                                    </div>
                                    <div class="thongke-luotxem"><span>Lượt xem: @Model.ViewCount</span></div>
                                    <div class="cochu">
                                    </div>
                                    <div class="cb" style="clear:both"></div>
                                </div>
                                @if (lstRelated != null && lstRelated.Count > 0)
                                {
                                    <ul class="listlq">
                                        @foreach (var item in lstRelated)
                                        {
                                            <li><a href="/pages/detail/@item.ID/@HelperString.RemoveMark(item.Title)@dothtml" title=""><i class="fa fa-circle" aria-hidden="true"></i> @item.Title</a></li>
                                        }
                                    </ul>
                                }
                                <div class="noidung TextSize" id="Detail">
                                    <p class="fRobotoB pb10">@Html.Raw(Model.Description)</p>
                                    <p>@Html.Raw(Model.Details)</p>
                                    <div class="pt10">
                                        @if (!String.IsNullOrEmpty(Model.Attachment))
                                        {
                                            string sFile = Model.Attachment;
                                            var arr = sFile.Split('.');
                                            var lastItem = arr[arr.Length - 1];
                                            lastItem = lastItem.ToLower();
                                            pos = Array.IndexOf(imageExtention, lastItem);
                                            <span class="pr5"><i class="fa fa-paperclip" aria-hidden="true"></i> File đính kèm </span>
                                            <a href="@Model.Attachment" class="download" title="Tải về"><i class="fa fa-download" aria-hidden="true"></i> Tải về</a>
                                            if (pos < 0)
                                            {
                                                <a href="/Home/ViewFile?linkdown=@Model.Attachment" target="_blank" style="color: #337ab7">
                                                    <i class="fa fa-search"></i> Xem
                                                </a>
                                            }
                                            else
                                            {
                                                <img style="width:100px" src="@Model.Attachment" />
                                            }
                                        }
                                        <div class="cb"></div>
                                        <p class="fl fsti">@Model.SourceNews</p>
                                        <p class="fr fRobotoB pr10">@Model.Author</p>
                                        <div class="cb"></div>
                                    </div>
                                </div>
                                @if (!String.IsNullOrEmpty(Model.Tags))
                                {
                                    string link = "";
                                    <div class="tags">
                                        <span class="fs12"><i class="fa fa-tags" aria-hidden="true"></i> Tags: </span>
                                        @foreach (var item in Model.Tags.Split(';'))
                                        {
                                            link = "/pages/search.html?key=" + item;
                                            <a href="@link" title="@item">@item</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="colright"></div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                                                var hleft = $('#new .newest .left').innerHeight();
                            $('#new .newest .right').innerHeight(hleft);
                                            });
                        $(window).resize(function () {
                            var hleft = $('#new .newest .left').innerHeight();
                            $('#new .newest .right').innerHeight(hleft);
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-default" data-dismiss="modal" type="button">Đóng</button>
</div>
<style>
#CommonCuoiChiTietTin{background:#f3f3f3;border-top:solid 1px #ebebeb;font-size:12px !important; color:#aaaaaa;padding:5px;margin:5px 0;position:relative; z-index: 3;margin-bottom: 15px}
#CommonCuoiChiTietTin a{display:inline-block;font-size:12px !important}
#CommonCuoiChiTietTin .apd a{color:#aaaaaa;padding-left:20px;margin-top:3px;display:inline-block}
#CommonCuoiChiTietTin a:hover{color:#e95d0b}
#CommonCuoiChiTietTin a.prevDBT{background:url(Icon/prev.gif) no-repeat left center}
#CommonCuoiChiTietTin a.top{background:url(Icon/top.gif) no-repeat left center;padding-right:20px}
#CommonCuoiChiTietTin a.email{background:url(Icon/email.gif) no-repeat left center;padding-right:15px}
#CommonCuoiChiTietTin a.email span{display:none}
#CommonCuoiChiTietTin a.print{background:url(Icon/print.gif) no-repeat left center}
#CommonCuoiChiTietTin .shareItem{width:25px;height:20px;display:inline-block;position:relative;z-index:1;top:2px}
#CommonHoTroCuoiBaiViet{padding:20px 0}
#CommonHoTroCuoiBaiViet a{display:inline-block;padding:10px 22px;color:#fff;text-transform:uppercase;background:#e95d0b;margin-right:10px}
#CommonCuoiChiTietTin .fl{float:left}
#CommonCuoiChiTietTin .fr{float:right}
#CommonCuoiChiTietTin .cb{clear:both}
#CommonCuoiChiTietTin .pr20{padding-right:20px}
#CommonCuoiChiTietTin .fb_iframe_widget {top: -3px}
.thongke {background: #f3f3f3; border-top: 1px solid #ebebeb; padding: 3px;margin-bottom: 10px}
.thongke-ngay {width: auto; height: 100%; background: url(/assets/display/Css/Icon/icon-thongke-ngay.png) no-repeat left;float:left;margin-left: 5px;padding-left: 5px}
.thongke-luotxem {width: auto; height: 100%; background: url(/assets/display/Css/Icon/icon-thongke-luotxem.png) no-repeat left; float: left; padding-left: 10px;margin-left: 15px; }
.thongke span {font-size:12px;color: #aaa;line-height: 25px; margin-left: 15px; float: left;margin-right: 6px}
.cochu {float:right;width: auto; height:100%}
.cochu span {margin-left: 0px}
.thongke .cochu a {margin:0px;float:none;display:inline} 
#newdetail .des { margin-bottom: 10px; text-align: justify; line-height: 21px}
#newdetail .name { font-size: 23px; font-family: RobotoB;margin-bottom: 7px}
#Detail img{ max-width: 100%;height: auto !important;}
#newdetail .listlq,#newdetail .other ul {line-height: 21px; padding: 10px; border-bottom: 1px dashed #eee; padding-top: 0; color: #666; font-family: RobotoB; font-size: 13px;list-style: none}
#newdetail .listlq li .fa,#newdetail .other ul li .fa { font-size: 5px; color: #E3132A; vertical-align: top; line-height: 21px; margin-right: 3px}
</style>