@using Web.Model
@using Web.Areas.Admin.Controllers
@model List<qProcess>
@{

    var objNews = (tbl_News)TempData["objNews"];
    var lstCategory = (List<tbl_Category>)TempData["lstCategory"];
    //var FkId = TempData["FkId"];
    var lstProcedure = (List<qProcedure>)TempData["lstProcedure"];
    var lstUserAdmin = (List<tbl_UserAdmin>)TempData["lstUserAdmin"];
    var imageExtention = new[] { "png","jpg","jpeg","gif", "bmp"};
    var officeExtention = new[] { "doc", "docx", "xls", "xlsx", "pdf", "txt"};
    var lstName = new List<tbl_Category>();
    int posImg = -1;
    int posOffice = -1;
}

<div class="divView"><span class="title">Tiêu đề:</span> @objNews.Title</div>
<div style="clear:both"></div>
<div class="divView"><span style="float:left" class="title">Danh mục:</span><div style="float:left">
    @if (objNews.CategoryIdStr != null)
    {
        foreach (var item in objNews.CategoryIdStr.Split(','))
        {
            var cateName = lstCategory.Where(x => x.ID == Convert.ToInt32(item));
            lstName.AddRange(cateName);
        }
    }

    @if (lstName != null)
    {
        <ul>
            @foreach (var i in lstName)
            {
               <li>@i.Name</li>
            }
        </ul>
    }
</div></div>

<table class="table">
    <thead>
        <tr>
            <th>Bước xử lý</th>
            <th>Bước nhận</th>
            <th>Người gửi</th>
            <th>Thời gian</th>
            <th>Diễn giải</th>
            <th>File đính kèm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    var nameFromProcedure = lstProcedure.Where(x => x.ID == item.FromProcedure).FirstOrDefault();
                    var nameUser = lstUserAdmin.Where(x => x.ID == item.FromId).FirstOrDefault().FullName;
                }
                @if (nameFromProcedure != null)
                {
                    var name = nameFromProcedure.Name;
                    <td style="vertical-align: middle;">@name</td>
                }
                else
                {
                    <td style="vertical-align: middle;"></td>
                }

                @if (item.ToProcedure != 0)
                {
                    var nameToProcedure = lstProcedure.Where(x => x.ID == item.ToProcedure).FirstOrDefault().Name;
                    <td style="vertical-align: middle;">@nameToProcedure</td>
                }
                else
                {
                    <td style="vertical-align: middle;"></td>
                }

                <td style="vertical-align: middle;">@nameUser</td>
                <td style="vertical-align: middle;">@string.Format("{0:dd/MM/yyyy HH:mm}", item.CreateDate)</td>
                <td style="vertical-align: middle;width:100px">@item.Contents</td>
                @if (!string.IsNullOrEmpty(item.Attachment))
                {
                    string sub = item.Attachment.Replace("-", " ");
                    var arr = sub.Split('.');
                    var lastItem = arr[arr.Length - 1];
                    lastItem = lastItem.ToLower();
                    posImg = Array.IndexOf(imageExtention, lastItem);
                    posOffice = Array.IndexOf(officeExtention, lastItem);
                    if (posOffice >-1)
                    {
                        sub = sub.Remove(0,58);
                        <td style="vertical-align: middle;">
                            <a href="@item.Attachment">@sub |</a><a href="/Home/ViewFile?linkdown=@item.Attachment" target="_blank" style="margin-left: 5px; color: #337ab7">
                                <i class="fa fa-search"></i> Xem
                            </a>
                        </td>
                    }
                    else if (posImg > -1)
                    {
                        <td style="vertical-align: middle">
                            <a href="@item.Attachment"><img style="width:100px" src="@item.Attachment" /></a>
                        </td>
                    }
                    else
                    {
                        sub = sub.Remove(0, 54);
                        <td style="vertical-align: middle">
                            <a href="@item.Attachment">@sub |<i class="fa fa-download"></i></a> 
                        </td>
                    }

                }

                else
                {
                    <td></td>
                }
            </tr>

                    }

    </tbody>
</table>
<div class="col-md-12 text-center">
    <button type="button" onclick="modal.hide()" class="btn btn-default waves-effect waves-light"><i class="glyphicon glyphicon-ban-circle"></i> Đóng</button>
</div>
<style>
    .title {
        font-weight: bold;
    }

    .divView {
        margin: 5px 0px 10px 8px;
    }
</style>
